#win {
	display: none;
	font-size: 14px;
	background-color: black;
	width: 500px;
}

#win #text{
	color: #FFF;
	text-align: center;
	margin-top: 20px;
	font-size: 25px;
	font-family: 'Montserrat', sans-serif, Arial, 'Microsoft Yahei';
}
#win #text .text-bottom{
	margin-top: 220px;
}

	#win .loader {
		display: block;
		margin: 0 auto;
		padding: 20% 0 0 0 ;
		width: 100px;
		height: 100px;
	}

	#win .loader span {
		position: absolute;
		width: 100px;
		height: 100px;
		animation: animate 3.5s linear infinite;
	}

	#win .loader span::before {
		position: absolute;
		content: "";
		background-color: #FFF;
		width: 10px;
		height: 10px;
		bottom: 0;
		left: calc(50% - 5px);
		border-radius: 50%;
	}

	#win .loader span:nth-child(1) {
		animation-delay: 0.1s;
	}

	#win .loader span:nth-child(2) {
		animation-delay: 0.2s;
	}

	#win .loader span:nth-child(3) {
		animation-delay: 0.3s;
	}

	#win .loader span:nth-child(4) {
		animation-delay: 0.4s;
	}

	#win .loader span:nth-child(5) {
		animation-delay: 0.5s;
	}

	@keyframes animate {

		74%{
			transform: rotate(600deg);
		}
		79% {
			transform: rotate(720deg);
			opacity: 1;
		}
		80% {
			transform: rotate(720deg);
			opacity: 0;
		}
		100% {
			transform: rotate(810deg);
			opacity: 0;
		}
	}